<IfModule mod_rewrite.c>
Options +FollowSymLinks -Indexes
Options -Indexes

RewriteEngine On
RewriteCond %{HTTP_HOST} !^www\.
RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/displays/$1 [R=301,L]

RewriteRule  ^displays/thin-displays.*$ /displays [R=301,NC,L]
RewriteRule  ^discontinued-displays.*$ /support [R=301,NC,L]
RewriteRule  ^bigtouch$ /displays/BIGTOUCH-SERIES [R=301,NC,L]
RewriteRule  ^bigtouch/video-kommunikation /video-communication/MVP100 [R=301,NC,L]
RewriteRule  ^([A-Za-z0-9-]+)series/?$ /displays/family.php?series=$1series [NC,L]
RewriteRule  ^([A-Za-z0-9-]+)/?$ /displays/product.php?pn=$1 [NC,L]
RewriteRule  ^(?:[A-Za-z0-9-]+)/([A-Za-z0-9-]+)/?$ /displays/product.php?pn=$1 [NC,L]
</ifmodule>
