//button-sizes
.link, .button, .button:focus {
  padding: 1.15em 1.25em .9em;
  margin: 0 0 1rem;
  font-size: .75rem;
  letter-spacing: .2rem;
  background-color: $infocus_blue;
  color: $infocus_light_blue;
  text-transform: uppercase;
  border-radius: 4px;
  font-family: 'GoodPro-WideBook', Verdana, Geneva, sans-serif;
}
a.button--primary,
a.button--primary:link,
a.button--primary:visited,
a.link:link,
a.link:visited,
 {
  color: $infocus_light_blue;
}
.callout .button { margin-bottom: 0px; }
a.link--primary:hover, a.button--primary:hover {
  color: $white;
}
