@font-face {
  font-family: 'GoodPro';
  src: url("../fonts/GoodPro-Medium.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: 'GoodPro';
  src: url("../fonts/GoodPro-Bold.otf") format("opentype");
  font-weight: 900;
}

@font-face {
  font-family: 'GoodPro-WideLight';
  src: url("../fonts/GoodPro-WideLight.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: 'GoodPro-WideBold';
  src: url("../fonts/GoodPro-WideBold.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: 'GoodPro-Book';
  src: url("../fonts/GoodPro-Book.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: 'GoodPro-WideBook';
  src: url("../fonts/GoodPro-WideBook.otf") format("opentype");
  font-weight: normal;
}
