@font-face {
  font-family: GoodPro;
  src: url("../fonts/goodpro/GoodPro-Bold.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: GoodPro;
  src: url("../fonts/goodpro/GoodPro-Medium.otf") format("opentype");
  font-weight: normal;
}
