// Colors
$white:  #fff;
$infocus_blue: #125f84;
$infocus_light_blue: #c2e3ee;
$infocus_very_light_blue: #bbdde6;
$infocus_green: #00ab84;

$infocus_orange: #ff671f;
$light_gray: #f2f2f0;
$dark_gray:  #3f4a54;

@import 'fonts';
@import 'typography';
@import 'buttons';


// General Layout
body {
  max-width: 1980px;
  margin: 0 auto;
}

.row { margin-top: 3.5em;}
.hero_row{
  position: relative;
  height: 699px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
  border-left: 18px solid $infocus_blue;
  border-right: 30px solid $infocus_green;
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
  background: url('http://placehold.it/1200x699') right top no-repeat;
  .lead_text { height: 699px; background-color: $white; }
  .color_stripe {
    height: 699px;
    float:left;
    opacity: .3;
    &.dark_blue {  background-color: $infocus_blue; width: 55px; }
    &.light_blue {  background-color: $infocus_light_blue; width: 20px; }
  }
  .lead_text--headline {
    max-width: 420px;
  }
  &.hero_row--secondary {
    border-left: 38px solid $infocus_orange;
    border-right: 38px solid $infocus_green;
    background: url('http://placehold.it/1311x699') no-repeat center center;
    background-size: cover;
    .lead_text--headline { max-width: none; }
  }
}


//Vertical Accordion
.vertical_accordian {
  margin-left: .9375rem;
  margin-right: .9375rem;
  position: relative;
  overflow: hidden;
  min-height: 300px;
  a { margin-top: 300px;}
  .slide {
    padding: 3em;
    background-color: $infocus_green;
    width: 66.64%;
    float: left;
    position: absolute;
    right: 16.66%;

    -webkit-transition: all 1s ease;
  	-moz-transition: all 1s ease;
  	-ms-transition: all 1s ease;
  	-o-transition: all 1s ease;
  	transition: all 1s ease;
  }
  .slide:first-child {
    background-color: $infocus_blue;
    right: 33.32%;
  }
  .slide:last-child {
    background-color: $infocus_orange;
    right: -49.98%;
  }

  :target, #slide1:target { right: 33.32%; }
  #slide1:target +  #slide2 { right: -33.34%; }
  #slide2:target { right: 16.66%; }
  #slide3:target { right: 0%; }
}
