// Typography
h1, h2, h3, h4, p.lead_text, h5 {
  font-family: GoodPro, Verdana, Geneva, sans-serif;
  font-weight: bold;
  text-transform: none;
}
p.lead_text,
h5,
.callout h5,
.secondary_headline,
.vertical_accordian--slide--content h2
 {
  font-weight: normal;
  font-family: GoodProWideLight, Verdana, Geneva, sans-serif;
}

.callout h3 {
  font-weight: normal;
  font-family: GoodProWideBook, Verdana, Geneva, sans-serif;
  line-height: 1.25em;
}

.lead_text--secondary_headline + h5 {
  font-size: 1.15rem;
  @media screen and (min-width: 40em) {
      font-size: 1.55rem; line-height: 2.5rem;
  }
}

.lead_text--headline {
  color: $infocus_blue;
  line-height: 1.05;
  margin: 0 0 2rem;
  font-size: 3.25rem;
  @media screen and (min-width: 40em) {
      font-size: 4.55rem;
  }
}
.lead_text--paragraph { color: $dark_gray; font-size: 1.25rem; }
.lead_text--secondary_headline {
  color: $dark_gray;
  margin-bottom: 2rem;
  font-weight: 400;
  font-size: 2.55rem;
  @media screen and (min-width: 40em) {
      font-size: 3.75rem;
  }
}
.quote_source, .module--tag span {
  color: $infocus_blue;
  font-weight: bold;
  font-size: 1.25rem;
  font-family: GoodProWideBold, Verdana, Geneva, sans-serif;
}
.callout {
  h3 { color: $infocus_blue; letter-spacing: -.035em; }
}
.module--tag span {
  text-transform: uppercase;
  letter-spacing: .35em;
  font-size: .65em;
}
.vertical_accordian--slide {
  .module--tag span {
    color: $white;
  }
  .vertical_accordian--slide--content {
    h2 {
        font-size: 1.75rem;
        line-height: 1;
        margin-top: .65em;
        margin-bottom: .55em;
        display: inline-block;
        @media screen and (min-width: 40em) { font-size: 4rem; }
    }
  }
}
