Options MultiViews -Indexes
AddType application/x-httpd-php5 .php

# 480 weeks (290304000)

<FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|js|css|swf)$">

Header set Cache-Control "max-age=290304000, public"

</FilesMatch>



# 2 DAYS (172800)

<FilesMatch "\.(xml|txt)$">

Header set Cache-Control "max-age=172800, public, must-revalidate"

</FilesMatch>



# 2 HOURS (7200)

<FilesMatch "\.(html|htm)$">

Header set Cache-Control "max-age=7200, must-revalidate"

</FilesMatch>





<IfModule mod_alias.c>

#Catch-All Redirects (mostly for old links)	
RedirectMatch 301 (?i)^/sites/default/files/InFocus-Mondopad-CaseStudy-BirminghamSouthernCollege.pdf /resources/documents/Mondo/InFocus-Mondopad-CaseStudy-BirminghamSouthernCollege.pdf


RedirectMatch 301 (?i)^/x1promo/index.*$ 	/

RedirectMatch 301 (?i)^/www.infocus.com.*$ 	/

RedirectMatch 301 (?i)^/wv-fs-02/techpubs/.*$ 	/

RedirectMatch 301 (?i)^/WebResource.*$ 	/

RedirectMatch 301 (?i)^/taxonomy.*$ 	/

RedirectMatch 301 (?i)^/supportIN82010-0629-01.*$ 	/support

RedirectMatch 301 (?i)^/support.aspx.*$  	/support

RedirectMatch 301 (?i)^/store.*$  	http://www.infocusstore.com

RedirectMatch 301 (?i)^/spn/amer/.*$  	/

RedirectMatch 301 (?i)^/software.*$  	/accessories/?software

RedirectMatch 301 (?i)^/sites.*$  	/

RedirectMatch 301 (?i)^/Segments/Education.*$	/education

#RedirectMatch 301 (?i)^/projectors/portable(-)?(projectors)?.*$	/projectors/ultra-portable

#RedirectMatch 301 (?i)^/projectors/\?office.*$	/projectors/meeting

#RedirectMatch 301 (?i)^/projectors/of...n102-projector.*$	/projectors/

#RedirectMatch 301 (?i)^/projectors/\?large(-)?venue(-)?(projectors)?.*$	/projectors/large-venue

#RedirectMatch 301 (?i)^/projectors/\?interactive(-)?(projectors)?.*$	/projectors/interactive

#RedirectMatch 301 (?i)^/projectors/\?home(-)?theater.*$	/projectors/home-theater

#RedirectMatch 301 (?i)^/projectors/classroom-projectors.*$	/projectors/?meeting

RedirectMatch 301 (?i)^/projectors/discontinued(-)?(projectors)?(displays)?.*$	/support
RedirectMatch 301 (?i)^/projectors/compare.*$	/projectors/
RedirectMatch 301 (?i)^/presenters/genigraphics.*$	/

RedirectMatch 301 (?i)^/parts.*$	/support

RedirectMatch 301 (?i)^/noderelationships.*$	/

RedirectMatch 301 (?i)^/node.*$	/

RedirectMatch 301 (?i)^/ms/.*$	/

RedirectMatch 301 (?i)^/mondopad/.*$	/displays/family?series=MONDOPAD-Series

RedirectMatch 301 (?i)^/Melinda/AppData.*$	/

RedirectMatch 301 (?i)^/media/library.*$	/

RedirectMatch 301 (?i)^/LP640.*$	/support

RedirectMatch 301 (?i)^/lp330.*$	/support

RedirectMatch 301 (?i)^/Local%20Settings/Temporary%20Internet%20Files/.*$	/

RedirectMatch 301 (?i)^/labs/video.*$	/videos

RedirectMatch 301 (?i)^/labs/all/news(.*$)	/about#news

RedirectMatch 301 (?i)^/labs/all/events.*$	/about#events

RedirectMatch 301 (?i)^/labs.*$	/about

RedirectMatch 301 (?i)^/ir/.*$	/

RedirectMatch 301 (?i)^/infsBin/job.*$	/about#jobs

RedirectMatch 301 (?i)^/i/.*$	/

RedirectMatch 301 (?i)^/Home/Segments.*$	/education

RedirectMatch 301 (?i)^/home.*$	/

RedirectMatch 301 (?i)^/GovContracts/FederalContracts.*$	/

RedirectMatch 301 (?i)^/ger/emea.*$	/

RedirectMatch 301 (?i)^/forum.*$	/

RedirectMatch 301 (?i)^/escalate/store/.*$  	http://www.infocusstore.com/

RedirectMatch 301 (?i)^/dvdclaimform1231enddate.*$	/sales-partners

RedirectMatch 301 (?i)^/download.*$	/

RedirectMatch 301 (?i)^/Documents%20and%20Settings/mkrueger.*$	/

RedirectMatch 301 (?i)^/disti_site/Documents.*$	/sales-partners

RedirectMatch 301 (?i)^/displays/thin-displays.*$	/displays

RedirectMatch 301 (?i)^/displays/mondopad.*$	/displays/family?series=MONDOPAD-SERIES

RedirectMatch 301 (?i)^/displays/discontinued-displays.*$	/support

RedirectMatch 301 (?i)^/displays/bigtouch.*$	/displays/family?series=BIGTOUCH-SERIES

RedirectMatch 301 (?i)^/deauthorized/.*$	/

RedirectMatch 301 (?i)^/company/press.*$	/about#news

RedirectMatch 301 (?i)^/Company/Contact.*$	/support

RedirectMatch 301 (?i)^/Support/authorized_service_centers.*$	/support/authorized-service-centers

RedirectMatch 301 (?i)^/company.*$	/about

RedirectMatch 301 (?i)^/comment/reply/.*$	/

RedirectMatch 301 (?i)^/Brilliant/~/.*$	/support

RedirectMatch 301 (?i)^/bigtouch/.*$	/displays/family?series=BIGTOUCH-SERIES

RedirectMatch 301 (?i)^/AppData/Local/.*$	/

#RedirectMatch 301 (?i)^/accessories/wireless.*$	/accessories/?networking

#RedirectMatch 301 (?i)^/accessories/warrant(ies)?(y)?.*$	/accessories/?services

#RedirectMatch 301 (?i)^/accessories/software.*$	/accessories/?software

#RedirectMatch 301 (?i)^/accessories/screen.*$	/accessories/?screens

#RedirectMatch 301 (?i)^/accessories/remote.*$	/accessories/?remotes

#RedirectMatch 301 (?i)^/accessories/mount.*$	/accessories/?mounts

#RedirectMatch 301 (?i)^/accessories/miscellaneous.*$	/accessories/?misc

#RedirectMatch 301 (?i)^/Accessories/Lens.*$	/accessories/?lenses

#RedirectMatch 301 (?i)^/Accessories/Lamp.*$	/accessories/?lamps

#RedirectMatch 301 (?i)^/accessories/case.*$	/accessories/?cases

#RedirectMatch 301 (?i)^/accessories/cable.*$	/accessories/?cables

RedirectMatch 301 (?i)^/accessories/accessories(-for)?-mondopad-and-bigtouch.*$	/accessories/?mpbtaccessories

RedirectMatch 301 (?i)^/10.0.0.250/ad1_dfs/.*$	/

RedirectMatch 301 (?i)^/~/media/.*$	/
	

	

#Specific Redirects	

RedirectMatch 301 (?i).*outlet.infocus.com$ 	http://outlet.infocus.com

RedirectMatch 301 (?i).*www.infocusstore.com$	http://www.infocusstore.com

RedirectMatch 301 (?i)^/_1	/

RedirectMatch 301 (?i)^/99$	/

RedirectMatch 301 (?i)^/a$	/

RedirectMatch 301 (?i)^/worldwide	/

RedirectMatch 301 (?i)^/accessories.aspx	/accessories

RedirectMatch 301 (?i)^/americas-support	/support

RedirectMatch 301 (?i)^/bulb(s)?	/accessories/?lamps

RedirectMatch 301 (?i)^/buynow/lamp(s)?	http://www.infocusstore.com/Lamps-Accessories/b/7448620011?ie=UTF8&title=Lamps

RedirectMatch 301 (?i)^/buynow/projector(s)?	http://www.infocusstore.com/Projectors/b/7288433011?ie=UTF8&title=Projectors

RedirectMatch 301 (?i)^/cable(s)?	/accessories/?cables

RedirectMatch 301 (?i)^/calculator	/resources/forms/projectioncalculator

RedirectMatch 301 (?i)^/projector-installation	/resources/forms/projectioncalculator
RedirectMatch 301 (?i)^/career(s)?	/about#careers

#RedirectMatch 301 (?i)^/classroom-projectors	/projectors/?meeting

RedirectMatch 301 (?i)^/cms	/resources/maincms.php

RedirectMatch 301 (?i)^/company/jobs	/about#careers

RedirectMatch 301 (?i)^/consumerspecialoffers	http://www.infocusrebates.com/

RedirectMatch 301 (?i)^/contact(u)?(s)?(upport)?	/support/

RedirectMatch 301 (?i)^/controlview	/accessories/product?pn=CONTROLVIEW

RedirectMatch 301 (?i)^/conx$	/accessories/product?pn=CONX

RedirectMatch 301 (?i)^/conx/activate	http://collaborate.infocus.com

RedirectMatch 301 (?i)^/corp.htm	/about

RedirectMatch 301 (?i)^/cs	/support

RedirectMatch 301 (?i)^/dealregistration	https://www.infocusregistrationrewards.com/index.php

RedirectMatch 301 (?i)^/designservices	http://design.infocus.com/designservices/

RedirectMatch 301 (?i)^/displaylink	/accessories/product?pn=SP-DOUSB-WIRELESS

RedirectMatch 301 (?i)^/easymoney	https://www.brightprojections.com/easymoney

RedirectMatch 301 (?i)^/educationrewards	http://www.brightprojections.com/aplushonors/

RedirectMatch 301 (?i)^/FirstResponders_MondopadSuccessStory	http://collaborate.infocus.com/firerescue1/

RedirectMatch 301 (?i)^/giftshop	https://www.madetoorder.com/infocus/

RedirectMatch 301 (?i)^/highered	http://collaborate.infocus.com/collaborate_education/

RedirectMatch 301 (?i)^/imagelibrary	https://infocus.box.net/s/rm0l6xcsfot4c4tk8670

RedirectMatch 301 (?i)^/INF5520docs	/displays/product?pn=INF5520A#downloads

RedirectMatch 301 (?i)^/INF7020	/displays/product?pn=INF7021

RedirectMatch 301 (?i)^/INF7020docs	/displays/product?pn=INF7021#downloads

RedirectMatch 301 (?i)^/infocus-mondopad-portland-public-schools 	/education

RedirectMatch 301 (?i)^/interactive-solutions 	/displays

RedirectMatch 301 (?i)^/job(s)?	/about#careers

RedirectMatch 301 (?i)^/jtouch	/displays/family?series=JTOUCH-SERIES

RedirectMatch 301 (?i)^/lamp(s)?	/accessories/?lamps

RedirectMatch 301 (?i)^/la-promo	/custompages/index.php?pagename=sales-partners

RedirectMatch 301 (?i)^/learnbig 	/education

RedirectMatch 301 (?i)^/li(ght)?(te)?show	/accessories/?networking

RedirectMatch 301 (?i)^/wireless	/accessories/?networking

RedirectMatch 301 (?i)^/LiteshowIII	/accessories/product?pn=INLITESHOW3

RedirectMatch 301 (?i)^/lp$	/projectors/

RedirectMatch 301 (?i)^/macadapter	http://store.infocus.com/

RedirectMatch 301 (?i)^/mondodemo	http://mondopad.infocus.com/mondodemo/

RedirectMatch 301 (?i)^/mondopad-auth(orization)?(-request)?	http://collaborate.infocus.com/msp/

RedirectMatch 301 (?i)^/mportal	http://collaborate.infocus.com/msp/

RedirectMatch 301 (?i)^/ms/displaylink/index.html	/accessories/product?pn=SP-DOUSB-WIRELESS

RedirectMatch 301 (?i)^/Ms/documents/InFocus_ePortal_Quick_Start_Guide.pdf	/custompages/index.php?pagename=sales-partners

RedirectMatch 301 (?i)^/mvp100 	/video-communication/product?pn=mvp100

RedirectMatch 301 (?i)^/node/office-projectors	/projectors/?meeting

RedirectMatch 301 (?i)^/pcc$	/education

RedirectMatch 301 (?i)^/pps$	/education

RedirectMatch 301 (?i)^/press	/about

RedirectMatch 301 (?i)^/products/finder	/product-finder

RedirectMatch 301 (?i)^/about-infocus	/about

RedirectMatch 301 (?i)^/previewmp18	http://collaborate.infocus.com/mondopad_preview/

RedirectMatch 301 (?i)^/projectornet	/accessories/product?pn=PROJECTORNET31

RedirectMatch 301 (?i)^/pwd	/

RedirectMatch 301 (?i)^/rebate(s)?	http://www.infocusrebates.com

RedirectMatch 301 (?i)^/regrewards	https://www.infocusregistrationrewards.com

RedirectMatch 301 (?i)^/sale$	http://store.infocus.com/

RedirectMatch 301 (?i)^/serv	/support

RedirectMatch 301 (?i)^/suport	/support

RedirectMatch 301 (?i)^/support/Laptop_Activation  	/support/laptop-activation

RedirectMatch 301 (?i)^/support/terms	/support/warranty

RedirectMatch 301 (?i)^/support/underconstruction 	/support

RedirectMatch 301 (?i)^/(support)?(-)?survey	http://www.surveymonkey.com/Users/76030828/Surveys/676053839216/43AD4246-ADE3-4FDF-B0AE-C581A8140D89.asp?U=676053839216&DO_NOT_COPY_THIS_LINK=

RedirectMatch 301 (?i)^/orderstatus	http://www.infocusstore.com/

RedirectMatch 301 (?i)^/where(-)?to(-)?buy /reseller-locator
RedirectMatch 301 (?i)^/online(-)?RMA /#online-rma
RedirectMatch 301 (?i)^/firstresponders /first-responders

#RedirectMatch 301 (?i)^/projectors/family(.php)?(series=)?([A-Za-z0-9-]+)/?$    /projectors/$1   
#RedirectMatch 301 (?i)^/projectors/product(.php)?\?(pn=)?([A-Za-z0-9-]+)/?$    /projectors/$3 
#RedirectMatch 301 (?i)^displays/family(.php)?(series=)?([A-Za-z0-9-]+)/?$    /displays/$1   
#RedirectMatch 301 (?i)^displays/product(.php)?(pn=)?([A-Za-z0-9-]+)/?$    /displays/$1    
#RedirectMatch 301 (?i)^video-communication/family(.php)?(series=)?([A-Za-z0-9-]+)/?$    /video-communication/$1    
#RedirectMatch 301 (?i)^video-communication/product(.php)?(pn=)?([A-Za-z0-9-]+)/?$    /video-communication/$1   
#RedirectMatch 301 (?i)^accessories/product(.php)?(pn=)?([A-Za-z0-9-]+)/?$    /accessories/$1    

RedirectMatch 301 (?i)^\/resources\/misc\/MP\sShell\s1\.8\.03\.exe$ /support/index.php?regdl=regdl=TRUE#register

</ifmodule>





<ifmodule mod_deflate.c>

SetOutputFilter DEFLATE

</ifmodule>



ErrorDocument 404 /404.php





<IfModule mod_rewrite.c>

Options +FollowSymLinks -Indexes
Options -Indexes
	RewriteEngine On

	

	RewriteCond		${InFocusDev:$1|NOT_FOUND}	!NOT_FOUND

	RewriteRule		^(.*)			${InFocusDev:$1}					[NC,L]



	



	RewriteRule authorized(-)?service(-)?(center)?(s)?$	/custompages/index.php?pagename=authorized-service-centers [NC,L]

	RewriteRule ^(mondopad)?(mp)?(-)?training(-)?(registration)?(-0)?$	/resources/forms/mptraining [NC,L]

	RewriteRule ^404 	/custompages/index.php?404 [NC,L]

	RewriteRule ^big(-)?note$ 	/custompages/index.php?big-note [NC,L]

	RewriteRule ^big(-)?note/download 	/custompages/index.php?pagename=big-note [NC,L]

	RewriteRule ^bigtouch$	/displays/family?series=BIGTOUCH-SERIES [NC,L]

	RewriteRule ^mississippi$ 	/custompages/index.php?pagename=mississippi&pagetype=blank [NC,L]

	RewriteRule ^mondopad$	/displays/family?series=MONDOPAD-Series [NC,L]

	RewriteRule ^mondopad(-)?(live)?(-)?demo$	/custompages/index.php?pagename=mondopad-live-demo [NC,L]

	RewriteRule ^mondopad(-)?(live)?(-)?demo(-)?cdw$	/custompages/index.php?pagename=mondopad-live-demo-cdw [NC,L]

	RewriteRule ^mondopad(-)?video(-)?phone(-)?promotion$ 	/custompages/index.php?mondopad-video-phone-promotion [NC,L]

	RewriteRule ^partner(s)?(central)?$	/custompages/index.php?pagename=sales-partners [NC,L]

	RewriteRule ^privacy(-)?(policy)?$	/custompages/index.php?pagename=privacy-policy [NC,L]

	RewriteRule ^programs(-)?(&)?(and)?(-promotions)?$	/custompages/index.php?pagename=sales-partners [NC,L]

	RewriteRule ^register$ 	/support/#register [NC,L]

	RewriteRule ^reseller(s)?$	/custompages/index.php?pagename=sales-partners [NC,L]

	RewriteRule ^revendedor$	/custompages/index.php?pagename=sales-partners [NC,L]

	RewriteRule ^sales(-)?partner(s)?$	/custompages/index.php?pagename=sales-partners [NC,L]

	RewriteRule ^sales_manager$  	/resources/documents/InFocus_TAM_areamap.pdf [NC,L]

	RewriteRule ^spec_rebate$ 	/custompages/index.php?pagename=sales-partners [NC,L]

	RewriteRule ^terms(-)?of(-)?use$ 	/custompages/index.php?terms-of-use [NC,L]

	RewriteRule ^thank(-)?you$ 	/custompages/index.php?thank-you [NC,L]

	RewriteRule ^touchscreen(-)?solutions(-)?sale(-)?education$ 	/custompages/index.php?touchscreen-solutions-sale-education [NC,L]

	RewriteRule ^videoconferencing$	/displays/family?series=MONDOPAD-SERIES [NC,L]

	RewriteRule ^warranty$	/support/warranty [NC,L]



	

	

	RewriteRule	^accessories/lamps?/?$    /accessories/?lamps   [NC,L]    

	RewriteRule	^accessories/mondopad-?accessories?/?$    /accessories/?mpbtaccessories   [NC,L]    

	RewriteRule	^accessories/mpbt-?accessories?/?$    /accessories/?mpbtaccessories   [NC,L]    

	RewriteRule	^accessories/bigtouch-?accessories?/?$    /accessories/?mpbtaccessories   [NC,L]    

	RewriteRule	^accessories/cables?/?$    /accessories/?cables   [NC,L]    

	RewriteRule	^accessories/cases?/?$    /accessories/?cases   [NC,L]    

	RewriteRule	^accessories/lens(es)?/?$    /accessories/?lenses   [NC,L]    

	RewriteRule	^accessories/misc(ellaneous)?/?$    /accessories/?misc   [NC,L]    

	RewriteRule	^accessories/mounts?/?$    /accessories/?mounts   [NC,L]    

	RewriteRule	^accessories/remotes?/?$    /accessories/?remotes   [NC,L]    

	RewriteRule	^accessories/screens?/?$    /accessories/?screens   [NC,L]    

	RewriteRule	^accessories/software?/?$    /accessories/?software   [NC,L]    

	RewriteRule	^accessories/services?/?$    /accessories/?services   [NC,L]    

	RewriteRule	^accessories/warrant(y)?(ies)?/?$    /accessories/?services   [NC,L]    

	RewriteRule	^accessories/wireless/?$    /accessories/?networking   [NC,L]    

	RewriteRule	^accessories/networking/?$    /accessories/?networking   [NC,L]    

	RewriteRule	^projectors/office/([A-Za-z0-9-]+)series/?$    /projectors/family.php?series=$1series    [NC,L]
	RewriteRule	^projectors/office/([A-Za-z0-9-]+)/?$    /projectors/product.php?pn=$1    [NC,L]
	RewriteRule	^projectors/classroom/([A-Za-z0-9-]+)series/?$    /projectors/family.php?series=$1series    [NC,L]
	RewriteRule	^projectors/classroom/([A-Za-z0-9-]+)/?$    /projectors/product.php?pn=$1    [NC,L]
	RewriteRule	^projectors/ultra-portable/([A-Za-z0-9-]+)series/?$    /projectors/family.php?series=$1series    [NC,L]
	RewriteRule	^projectors/ultra-portable/([A-Za-z0-9-]+)/?$    /projectors/product.php?pn=$1    [NC,L]
	RewriteRule	^projectors/large-venue/([A-Za-z0-9-]+)series/?$    /projectors/family.php?series=$1series    [NC,L]
	RewriteRule	^projectors/large-venue/([A-Za-z0-9-]+)/?$    /projectors/product.php?pn=$1    [NC,L]
	RewriteRule	^projectors/short-throw/([A-Za-z0-9-]+)series/?$    /projectors/family.php?series=$1series    [NC,L]
	RewriteRule	^projectors/short-throw/([A-Za-z0-9-]+)/?$    /projectors/product.php?pn=$1    [NC,L]
	RewriteRule	^projectors/home-theater/([A-Za-z0-9-]+)series/?$    /projectors/family.php?series=$1series    [NC,L]
	RewriteRule	^projectors/home-theater/([A-Za-z0-9-]+)/?$    /projectors/product.php?pn=$1    [NC,L]
	RewriteRule	^projectors/interactive/([A-Za-z0-9-]+)series/?$    /projectors/family.php?series=$1series    [NC,L]
	RewriteRule	^projectors/interactive/([A-Za-z0-9-]+)/?$    /projectors/product.php?pn=$1    [NC,L]
	RewriteRule	^projectors/office/?$    /projectors/?meeting   [NC,L]    

	RewriteRule	^projectors/classroom/?$    /projectors/?meeting    [NC,L]    

	RewriteRule	^projectors/meeting/?$    /projectors/?meeting    [NC,L]    

	RewriteRule	^projectors/mobile/?$    /projectors/?mobile    [NC,L]

	RewriteRule	^projectors/ultra-portable/?$    /projectors/?mobile    [NC,L]

	RewriteRule	^projectors/(large-venue)/?$    /projectors/?$1    [NC,L]
	RewriteRule	^projectors/(short-throw)/?$    /projectors/?$1    [NC,L]

	RewriteRule	^projectors/(home-theater)/?$    /projectors/?$1    [NC,L]

	RewriteRule	^projectors/(interactive)/?$    /projectors/?$1   [NC,L]

	RewriteRule	^projectors/([A-Za-z0-9-]+)series/?$    /projectors/family.php?series=$1series    [NC,L]

	RewriteRule	^projectors/([A-Za-z0-9-]+)/?$    /projectors/product.php?pn=$1    [NC,L]

	RewriteRule	^displays/([A-Za-z0-9-]+)series/?$    /displays/family.php?series=$1series    [NC,L]

	RewriteRule	^displays/([A-Za-z0-9-]+)/?$    /displays/product.php?pn=$1    [NC,L]

	RewriteRule	^video-communication(s)?/([A-Za-z0-9-]+)series/?$    /video-communication/family.php?series=$2series    [NC,L]

	RewriteRule	^video-communication(s)?/([A-Za-z0-9-]+)/?$    /video-communication/product.php?pn=$2    [NC,L]

	RewriteRule	^accessories/([A-Za-z0-9-]+)/?$    /accessories/product.php?pn=$1    [NC,L]

	RewriteBase /

	RewriteCond %{SCRIPT_FILENAME} !-f 

	RewriteRule ^([^\.])$ $1.php [NC,L]

	RewriteRule ^([^\.])$ $1.html [NC,L]

	RewriteCond %{HTTP_HOST} ^209\.59\.161\.112

	RewriteRule (.*) http://dev.infocus.com/$1 [R=301,NC,L]

</IfModule>



DirectoryIndex index.php index.html index.htm

<FilesMatch "\.(htm|html|css|js)$">

AddDefaultCharset UTF-8

</FilesMatch>



