Options +MultiViews -Indexes
# AddType application/x-httpd-php5 .php

# 480 weeks (290304000)
<FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|js|css|swf)$">
Header set Cache-Control "max-age=290304000, public"
</FilesMatch>

# 2 DAYS (172800)
<FilesMatch "\.(xml|txt)$">
Header set Cache-Control "max-age=172800, public, must-revalidate"
</FilesMatch>

# 2 HOURS (7200)
<FilesMatch "\.(html|htm)$">
Header set Cache-Control "max-age=7200, must-revalidate"
</FilesMatch>



<ifmodule mod_deflate.c>
SetOutputFilter DEFLATE
</ifmodule>

ErrorDocument 404 /404.php


<IfModule mod_rewrite.c>
RewriteEngine On
Options +FollowSymLinks -Indexes
#
# stuff to let through (ignore)
RewriteRule ^resources/css - [L,NC]
RewriteRule ^resources/html - [L,NC]
RewriteRule ^resources/js - [L,NC]
RewriteRule ^resources/misc - [L,NC]
RewriteRule ^resources/php - [L,NC]
#

RewriteCond %{HTTP_HOST} !^www\.
RewriteCond %{HTTP_HOST} !^dev\.
RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]

RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} ^infocus(.*)$ [NC]
RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]

RewriteCond %{HTTPS} on
RewriteCond %{HTTP_HOST} ^infocus(.*)$ [NC]
RewriteRule ^(.*)$ https://www.%{HTTP_HOST}/$1 [R=301,L]

RewriteCond %{ENV:REDIRECT_STATUS} ^$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^resources/documents/(.*?)-EN\.(.*)$ /resources/documents/$1.$2 [NC]

RewriteCond %{ENV:REDIRECT_STATUS} ^$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^resources/documents/(.*?)[.](.*)$ /resources/documents/$1-EN.$2 [NC]

RewriteCond %{REQUEST_FILENAME} -f
RewriteRule (.*) $1 [NC,L]

RewriteRule ^resources/documents/([A-Za-z0-9-_]+)/.*/?$ /unknown.php?$1  [R=302,NC,L]

RewriteRule  IN1118HDLC /projectors/ultra-portable/IN1110-Series/IN1118HD [R=301,NC,L]
RewriteRule  IN1116LC /projectors/ultra-portable/IN1110-Series/IN1116 [R=301,NC,L]

RewriteRule (.*?)\s\$([0-9\.]*?)(\*)(\(us\)) $1 [NC]
RewriteRule ^([A-Za-z0-9-_/]+)\.aspx$ $1 [NC]
RewriteRule ^([A-Za-z0-9-_/]+)EP\.aspx$ $1 [NC]
RewriteRule ^([A-Za-z0-9-_/]+)EX\.aspx$ $1 [NC]

RewriteRule  ^qtablet/live /resources/php/test.php [NC,L]
RewriteRule  ^bigtouch/live /resources/php/test.php [NC,L]

RewriteRule  ^realcam$ /peripherals/product.php?pn=INF-SPTZ-2 [NC,L]
RewriteRule  ^ic2015$ http://infocus.box.com/s/m1f93uhbrorgl2tnnyzl8auniqorpbxb [NC,L]
RewriteRule  ^mp20assets$ /mondopad20assets [NC,L]
RewriteRule  ^contact(u)?(s)?(upport)/? /?contactus [NC,L]
RewriteRule  ^get(-)?a(-)?quote/? /?getaquote [NC,L]
RewriteRule  ^projector(-)?calculator/? /?projectorcalculator [NC,L]
RewriteRule  ^request(-)?demo/? /?mpdemo [NC,L]
RewriteRule  ^register/? /support/?register [NC,L]
RewriteRule  ^video-communication/(.*)? /peripherals/$1 [NC,L]
RewriteRule  ^bigconnect/download? /bcdownload [NC,L]
RewriteRule  ^mondopad20upgrade/? /mondopad20 [R=301,NC,L]
RewriteRule  ^70inchbonus/? /displays [R=301,NC,L]
RewriteRule  ^mondopad-video-phone-promotion/? /displays/mondopad-series [R=301,NC,L]
RewriteRule  ^spinittowinit/? / [R=301,NC,L]
RewriteRule  ^touchscreen-sale-k12/? /displays [R=301,NC,L]
RewriteRule  ^touchscreen-solutions-sale-education/? /displays [R=301,NC,L]



#Generated

RewriteRule  ^sites/default/files/InFocus-Mondopad-CaseStudy-BirminghamSouthernCollege.pdf /resources/documents/Mondo/InFocus-Mondopad-CaseStudy-BirminghamSouthernCollege.pdf [R=301,NC,L]

RewriteRule  ^node/88255/clone-infocus-in1146-led-projector-de /projectors/IN1146 [R=301,NC,L]

RewriteRule  ^x1promo/index.*$ / [R=404,NC,L]

RewriteRule  ^www.infocus.com.*$ / [R=301,NC,L]

RewriteRule  ^wv-fs-02/techpubs/.*$ / [R=404,NC,L]

RewriteRule  ^WebResource.*$ / [R=404,NC,L]

RewriteRule  ^taxonomy.*$ / [R=301,NC,L]

RewriteRule  ^supportIN82010-0629-01.*$ /support [R=301,NC,L]

RewriteRule  ^support.aspx.*$ /support [R=301,NC,L]

RewriteRule  ^store.*$ http://www.infocusstore.com [R=301,NC,L]

RewriteRule  ^spn/amer/.*$ / [R=404,NC,L]

RewriteRule  ^software.*$ /accessories/?software [R=301,NC,L]

RewriteRule  ^sites.*$ / [R=301,NC,L]

RewriteRule  ^Segments/Education.*$ /education [R=301,NC,L]

RewriteRule  ^projectors/discontinued(-)?(projectors)?(displays)?.*$ /support [R=301,NC,L]

RewriteRule  ^projectors/compare.*$ /projectors/ [R=301,NC,L]

RewriteRule  ^presenters/genigraphics.*$ / [R=404,NC,L]

RewriteRule  ^parts.*$ /support [R=301,NC,L]

RewriteRule  ^noderelationships.*$ / [R=301,NC,L]

RewriteRule  ^node.*$ / [R=301,NC,L]

RewriteRule  ^ms/.*$ / [R=301,NC,L]

RewriteRule  ^mondopad/.*$ /displays/MONDOPAD-Series [R=301,NC,L]

RewriteRule  ^Melinda/AppData.*$ / [R=404,NC,L]

RewriteRule  ^media/library.*$ / [R=301,NC,L]

RewriteRule  ^LP640.*$ /support [R=301,NC,L]

RewriteRule  ^lp330.*$ /support [R=301,NC,L]

RewriteRule  ^Local%20Settings/Temporary%20Internet%20Files/.*$ / [R=301,NC,L]

RewriteRule  ^labs/video.*$ /videos [R=301,NC,L]

RewriteRule  ^labs.*$ /about [R=301,NC,L]

RewriteRule  ^ir/.*$ / [R=301,NC,L]

RewriteRule  ^i/.*$ / [R=301,NC,L]

RewriteRule  ^Home/Segments.*$ /education [R=301,NC,L]

RewriteRule  ^home.*$ / [R=301,NC,L]

RewriteRule  ^GovContracts/FederalContracts.*$ / [R=404,NC,L]

RewriteRule  ^ger/emea.*$ / [R=404,NC,L]

RewriteRule  ^forum.*$ / [R=404,NC,L]

RewriteRule  ^escalate/store/.*$ http://www.infocusstore.com/ [R=301,NC,L]

RewriteRule  ^dvdclaimform1231enddate.*$ /sales-partners [R=301,NC,L]

RewriteRule  ^download.*$ / [R=404,NC,L]

RewriteRule  ^Documents%20and%20Settings/mkrueger.*$ / [R=404,NC,L]

RewriteRule  ^disti_site/Documents.*$ /sales-partners [R=301,NC,L]

RewriteRule  ^displays/thin-displays.*$ /displays [R=301,NC,L]

RewriteRule  ^displays/discontinued-displays.*$ /support [R=301,NC,L]

RewriteRule  ^displays/bigtouch$ /displays/BIGTOUCH-SERIES [R=301,NC,L]

RewriteRule  ^projectors/portable-projectors/infocus-in1100er-projektor-serie$ /projectors/IN1100-SERIES [R=301,NC,L]

RewriteRule  ^deauthorized/.*$ / [R=301,NC,L]

RewriteRule  ^Company/Contact.*$ /support [R=301,NC,L]

RewriteRule  ^Support/authorized_service_centers.*$ /support/authorized-service-centers [R=301,NC,L]

RewriteRule  ^company$ /about [R=301,NC,L]

RewriteRule  ^comment/reply/.*$ / [R=301,NC,L]

RewriteRule  ^Brilliant/~/.*$ /support [R=301,NC,L]

RewriteRule  ^bigtouch/.*$ /displays/BIGTOUCH-SERIES [R=301,NC,L]

RewriteRule  ^AppData/Local/.*$ / [R=301,NC,L]

RewriteRule  ^accessories/accessories(-for)?-mondopad-and-bigtouch/?$ /accessories/mpbtaccessories [R=301,NC,L]

RewriteRule  ^10.0.0.250/ad1_dfs/.*$ / [R=301,NC,L]

RewriteRule  ^~/media/.*$ / [R=301,NC,L]

RewriteRule  ^resources/misc/(MP\sShell\s.\..\...\.exe) /support/index.php?register&filename=$1&regdl=TRUE [NC,L]

RewriteRule  ^online(-)?RMA /support/?online-rma [NC,L]

RewriteRule  ^support/online(-)?RMA /support/?online-rma [NC,L]

RewriteRule  ^pressearchiv$ /about?news [NC,L]

RewriteRule  ^news$ /about?news [NC,L]

RewriteRule  ^job(s)? /about?careers [NC,L]

RewriteRule  ^career(s)? /about?careers [NC,L]

RewriteRule  ^register$ /support/?register [NC,L]

RewriteRule  ^reg$ /support/?register&euwar=1 [NC,L]

RewriteRule  ^support/register$ /support/?register [NC,L]

RewriteRule  ^labs/all/news(.*$) /about?news [NC,L]

RewriteRule  ^labs/all/events.*$ /about?events [NC,L]

RewriteRule  ^company/press.*$ /about?news [NC,L]

RewriteRule  ^infsBin/job.*$ /about?careers [NC,L]

RewriteRule  ^company/jobs /about?careers [NC,L]

RewriteRule  ^.*outlet.infocus.com$ http://outlet.infocus.com [R=301,NC,L]

RewriteRule  ^.*www.infocusstore.com$ http://www.infocusstore.com [R=301,NC,L]

RewriteRule  ^_1 / [R=404,NC,L]

RewriteRule  ^99$ / [R=404,NC,L]

RewriteRule  ^a$ / [R=404,NC,L]

RewriteRule  ^worldwide / [R=301,NC,L]

RewriteRule  ^accessories/accessories-mondopad-and-bigtouch/bignote /accessories/INS-BIGNOTE [R=301,NC,L]

RewriteRule  ^displays/bigtouch/video-kommunikation /video-communication/MVP100 [R=301,NC,L]

RewriteRule  ^accessories/warranties-and-services/conx-group-videoconferencing-de /peripherals/ConX-Series [R=301,NC,L]

RewriteRule  ^accessories.aspx /accessories [R=301,NC,L]

RewriteRule  ^americas-support /support [R=301,NC,L]

RewriteRule  ^bulb(s)? /accessories/lamps [R=301,NC,L]

RewriteRule  ^buynow/lamp(s)? http://www.infocusstore.com/Lamps-Accessories/b/7448620011?ie=UTF8&title=Lamps [R=301,NC,L]

RewriteRule  ^buynow/projector(s)? http://www.infocusstore.com/Projectors/b/7288433011?ie=UTF8&title=Projectors [R=301,NC,L]

RewriteRule  ^cable(s)? /accessories/?cables [R=301,NC,L]

RewriteRule  ^calculator$ /resources/forms/projectioncalculator [R=301,NC,L]

RewriteRule  ^projector-installation /resources/forms/projectioncalculator [R=301,NC,L]

RewriteRule  ^consumerspecialoffers http://www.infocusrebates.com/ [R=301,NC,L]

RewriteRule  ^controlview /accessories/CONTROLVIEW [R=301,NC,L]

RewriteRule  ^conx$ /peripherals/ConX-Series [R=301,NC,L]

RewriteRule  ^/accessories/CONX$ /peripherals/ConX-Series [R=301,NC,L]

RewriteRule  ^conx/activate http://collaborate.infocus.com [R=301,NC,L]

RewriteRule  ^corp.htm /about [R=301,NC,L]

RewriteRule  ^cs /support [R=301,NC,L]

RewriteRule  ^dealregistration https://www.infocusregistrationrewards.com/index.php [R=301,NC,L]

RewriteRule  ^designservices http://design.infocus.com/designservices/ [R=301,NC,L]

RewriteRule  ^displaylink /accessories/product?pn=SP-DOUSB-WIRELESS [R=301,NC,L]

RewriteRule  ^easymoney https://www.brightprojections.com/easymoney [R=301,NC,L]

RewriteRule  ^educationrewards http://www.brightprojections.com/aplushonors/ [R=301,NC,L]

RewriteRule  ^FirstResponders_MondopadSuccessStory http://collaborate.infocus.com/firerescue1/ [R=301,NC,L]

RewriteRule  ^giftshop https://www.madetoorder.com/infocus/ [R=301,NC,L]

RewriteRule  ^highered http://collaborate.infocus.com/collaborate_education/ [R=301,NC,L]

RewriteRule  ^imagelibrary https://infocus.box.net/s/rm0l6xcsfot4c4tk8670 [R=301,NC,L]

RewriteRule  ^INF7020 /displays/INF7021 [R=301,NC,L]

RewriteRule  ^INF7020docs /displays/downloads [R=301,NC,L]

RewriteRule  ^infocus-mondopad-portland-public-schools /education [R=301,NC,L]

RewriteRule  ^interactive-solutions /displays [R=301,NC,L]

RewriteRule  ^jtouch /displays/JTOUCH-SERIES [R=301,NC,L]

RewriteRule  ^lamp(s)? /accessories/?lamps [R=301,NC,L]

RewriteRule  ^learnbig /education [R=301,NC,L]

RewriteRule  ^li(ght)?(te)?show /accessories/networking [R=301,NC,L]

RewriteRule  ^wireless$ /accessories/networking [R=301,NC,L]

RewriteRule  ^LiteshowIII /peripherals/INLITESHOW3 [R=301,NC,L]

RewriteRule  ^lp$ /projectors/ [R=301,NC,L]

RewriteRule  ^macadapter http://store.infocus.com/ [R=301,NC,L]

RewriteRule  ^mondodemo http://mondopad.infocus.com/mondodemo/ [R=301,NC,L]

RewriteRule  ^mondopad-auth(orization)?(-request)? http://collaborate.infocus.com/msp/ [R=301,NC,L]

RewriteRule  ^mportal http://collaborate.infocus.com/msp/ [R=301,NC,L]

RewriteRule  ^ms/displaylink/index.html /accessories/product?pn=SP-DOUSB-WIRELESS [R=301,NC,L]

RewriteRule  ^mvp100$ /video-communication/product?pn=mvp100 [R=301,NC,L]

RewriteRule  ^node/office-projectors /projectors/?meeting [R=301,NC,L]

RewriteRule  ^pcc$ /education [R=301,NC,L]

RewriteRule  ^pps$ /education [R=301,NC,L]

RewriteRule  ^press$ /about [R=301,NC,L]

RewriteRule  ^products/finder /product-finder [R=301,NC,L]

RewriteRule  ^about-infocus /about [R=301,NC,L]

RewriteRule  ^previewmp18 http://collaborate.infocus.com/mondopad_preview/ [R=301,NC,L]

RewriteRule  ^projectornet /accessories/PROJECTORNET31 [R=301,NC,L]

RewriteRule  ^pwd / [R=301,NC,L]

RewriteRule  ^rebate(s)? http://www.infocusrebates.com [R=301,NC,L]

RewriteRule  ^regrewards https://www.infocusregistrationrewards.com [R=301,NC,L]

RewriteRule  ^sale$ http://store.infocus.com/ [R=301,NC,L]

RewriteRule  ^serv /support [R=301,NC,L]

RewriteRule  ^suport /support [R=301,NC,L]

RewriteRule  ^support/Laptop_Activation /support/laptop-activation [R=301,NC,L]

RewriteRule  ^support/terms /support/warranty [R=301,NC,L]

RewriteRule  ^support/underconstruction /support [R=301,NC,L]

RewriteRule  ^(support)?(-)?survey http://www.surveymonkey.com/Users/76030828/Surveys/676053839216/43AD4246-ADE3-4FDF-B0AE-C581A8140D89.asp?U=676053839216&DO_NOT_COPY_THIS_LINK= [R=301,NC,L]

RewriteRule  ^orderstatus http://www.infocusstore.com/ [R=301,NC,L]

RewriteRule  ^where(-)?to(-)?buy /reseller-locator [R=301,NC,L]

RewriteRule  ^firstresponders /first-responders [R=301,NC,L]

RewriteRule  ^(mondopad)?(mp)?(-)?training(-)?(registration)?(-0)?$ /resources/forms/mptraining [NC,L]

RewriteRule  ^bigtouch$ /displays/BigTouch-Series [R=301,NC,L]

RewriteRule  ^mondopad$ /displays/Mondopad-Series [R=301,NC,L]

RewriteRule  ^sales_manager$ /resources/documents/InFocus_TAM_areamap.pdf [NC,L]

RewriteRule  ^videoconferencing$ /displays/family?series=MONDOPAD-SERIES [NC,L]

RewriteRule  ^warranty$ /support/warranty [NC,L]

RewriteRule  ^cms$ /resources/maincms.php [NC,L]

RewriteRule  ^accessor(ies)?(y)?/?$ /accessories/index.php [NC,L]

RewriteRule  ^display(s)?/?$ /displays/index.php [NC,L]

RewriteRule  ^projector(s)?/?$ /projectors/index.php [NC,L]

RewriteRule  ^peripheral(s)?/?$ /peripherals/index.php [NC,L]

RewriteRule  ^qtablet/?$ /displays/product.php?pn=INP-110Q [NC,L]

RewriteRule  ^support/?$ /support/index.php [NC,L]

RewriteRule  ^la-promo /custompages/index.php?pagename=sales-partners [R=301,NC,L]

RewriteRule  authorized(-)?service(-)?(center)?(s)?$ /custompages/index.php?pagename=authorized-service-centers [NC,L]

RewriteRule  ^404 /custompages/index.php?404 [NC,L]

RewriteRule  ^big(-)?note$ /custompages/index.php?big-note [NC,L]

RewriteRule  ^big(-)?note/download /custompages/index.php?pagename=big-note [NC,L]

RewriteRule  ^mississippi$ /custompages/index.php?pagename=mississippi&pagetype=blank [NC,L]

RewriteRule  ^mississippi-test$ /custompages/index.php?pagename=mississippi-test&pagetype=blank [NC,L]

RewriteRule  ^mondopad(-)?(live)?(-)?demo$ /custompages/index.php?pagename=mondopad-live-demo [NC,L]

RewriteRule  ^mondopad(-)?(live)?(-)?demo(-)?cdw$ /custompages/index.php?pagename=mondopad-live-demo-cdw [NC,L]

RewriteRule  ^mondopad(-)?video(-)?phone(-)?promotion$ /displays/MONDOPAD-SERIES [R=301,NC,L]

RewriteRule  ^partner(s)?(central)?$ /custompages/index.php?pagename=sales-partners [NC,L]

RewriteRule  ^privacy(-)?(policy)?$ /custompages/index.php?pagename=privacy-policy [NC,L]

RewriteRule  ^programs(-)?(&)?(and)?(-promotions)?$ /custompages/index.php?pagename=sales-partners [NC,L]

RewriteRule  ^reseller(s)?$ /custompages/index.php?pagename=sales-partners [NC,L]

RewriteRule  ^revendedor$ /custompages/index.php?pagename=sales-partners [NC,L]

RewriteRule  ^sales(-)?partner(s)?$ /custompages/index.php?pagename=sales-partners [NC,L]

RewriteRule  ^spec_rebate$ /custompages/index.php?pagename=sales-partners [NC,L]

RewriteRule  ^terms(-)?of(-)?use$ /custompages/index.php?terms-of-use [NC,L]

RewriteRule  ^thank(-)?you$ /custompages/index.php?thank-you [NC,L]

RewriteRule  ^touchscreen(-)?solutions(-)?sale(-)?education$ /displays/JTOUCH-SERIES [R=301,NC,L]

RewriteRule  ^Ms/documents/InFocus_ePortal_Quick_Start_Guide.pdf /custompages/index.php?pagename=sales-partners [R=301,NC,L]

RewriteRule  ^terms(-)?(of)?(-)?service /custompages/index.php?pagename=terms-of-service [NC,L]

RewriteRule  ^MP-Shell.exe /support/index.php?register&filename=MP-Shell.exe&regdl=TRUE [NC,L]

RewriteRule  ^reseller/infocus-store$ http://www.infocusstore.com [R=301,NC,L]

RewriteRule  ^buy_now/reseller/infocus-store$ http://www.infocusstore.com [R=301,NC,L]

RewriteRule  ^infocus-team$ /about?infocus-team [R=301,NC,L]

RewriteRule  ^mondomadness$ /displays/MONDOPAD-SERIES [R=301,NC,L]

RewriteRule  ^legal/?$ /support/warranty [R=301,NC,L]

RewriteRule  ^support/displaylink$ /support [R=301,NC,L]

RewriteRule  ^support/howto$ /support [R=301,NC,L]

RewriteRule  ^support/howtoguides.aspx$ /support [R=301,NC,L]

RewriteRule  ^support/rmaworldmap$ /support [R=301,NC,L]

RewriteRule  ^get_a_quote/launch$ /resources/forms/getaquote [R=301,NC,L]

RewriteRule  ^troubleshooting-tree$ /support [R=301,NC,L]

RewriteRule  ^search/node$ /support [R=301,NC,L]

RewriteRule  ^user$ /login/index.php?phasemsg=Please+login+first.&whence=/ [NC,L]

RewriteRule  ^warranty-terms-and-conditions$ /support/warranty [R=301,NC,L]

RewriteRule  ^work-infocus-1$ /about?career [R=301,NC,L]

RewriteRule  ^product_page/(?:[A-Za-z0-9-_]+)/bigtouch(?:[A-Za-z0-9-_]+) /displays/BIGTOUCH-SERIES [R=301,NC]

RewriteRule  ^product_page/(?:[A-Za-z0-9-_]+)/mondopad(?:[A-Za-z0-9-_]+) /displays/MONDOPAD-SERIES [R=301,NC]

RewriteRule  ^product_page/(?:[A-Za-z0-9-_]+)/infocus_liteshow_iii /accessories/INLITESHOW3 [R=301,NC]

RewriteRule  ^product_page/(?:[A-Za-z0-9-_]+)/wireless_usb_module /accessories/SP-WIFIUSB [R=301,NC,L]

RewriteRule  ^product_page/(?:[A-Za-z0-9-_]+)/wireless_displaylink /accessories/SP-DOUSB-WIRELESS [R=301,NC,L]

RewriteRule  ^product_page/(?:[A-Za-z0-9-_]+)/universal_projector_ceiling_mount /accessories/PRJ-MNT-UNIV [R=301,NC,L]

RewriteRule  ^product_page/(?:[A-Za-z0-9-_]+)/projectornet /accessories/PROJECTORNET31 [R=301,NC,L]

RewriteRule  ^product_page/(?:[A-Za-z0-9-_]+)/realcam_pan/tilt/zoom_camera /peripherals/INF-SPTZ-2 [R=301,NC,L]

RewriteRule  ^reseller_locator(?:[.]*) /reseller-locator [R=301,NC]

RewriteRule  ^products$ / [R=301,NC]

RewriteRule  (?:.*)home(-)?(_)?theat(er)?(re)?(-)?(_)?projectors$ /projectors/home-theater [R=301,NC]

RewriteRule  ^proav-partners /sales-partners [R=301,NC,L]

RewriteRule  ^reseller-login /sales-partners [R=301,NC,L]

RewriteRule  ^sales-tools /sales-partners [R=301,NC,L]

RewriteRule  ^outbound/store$ http://www.infocusstore.com [R=301,NC,L]

RewriteRule  ^emeaservice http://www.infocus.de/support [R=301,NC,L]

RewriteRule  ^proav-communications-sign /?proavsignup [NC,L]

RewriteRule  ^freightestimate /?freightestimate [NC,L]

RewriteRule  ^demokeys /?demokeys

RewriteRule  ^sip2phone /peripherals/INASIP2PHONE [R=301,NC,L]

RewriteRule  ^sip2phone/install /resources/misc/InFocus-SIP2PHONE-Install.msi [R=301,NC,L]

RewriteRule  sellersolutions /sales-partners

RewriteRule  sellersolution /sales-partners

RewriteRule  ^touchscreen-sale-K12 /displays/JTOUCH-SERIES [R=301,NC,L]

RewriteRule  ^touchscreen-solutions-sale-education /displays/JTOUCH-SERIES [R=301,NC,L]
#EndGenerated


 RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^resources/documents/(.*?)-EN\.(.*)$ /resources/documents/$1.$2 [NC]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^resources/documents/(.*?)\.(.*)$ /resources/documents/$1-EN.$2 [NC]

RewriteCond %{REQUEST_FILENAME} -f
RewriteRule (.*) $1 [NC,L]

RewriteRule ^resources/documents/([A-Za-z0-9-_]+)/(.*)  /unknown.php?$1  [NC,L]


 RewriteCond %{HTTP_HOST} ^209\.59\.161\.112
 RewriteRule (.*) http://dev.infocus.com/$1  [R=301,NC,L]

 RewriteRule ^login/$ /login/index.php?phasemsg=Please+login+first.&whence=/  [NC,L]
 RewriteRule ^admin/$ /cgi-bin/userbase.cgi  [NC,L]

RewriteCond %{QUERY_STRING} ^q=(.*)$
RewriteRule ^(?:site_)?search/? /custompage.php?pagename=%1 [NC,L]



 RewriteRule ^(?:[A-Za-z0-9-_]+)/(?:[A-Za-z0-9-_]+)/(?:[A-Za-z0-9-_]+)/(?:[A-Za-z0-9-_]+)/([A-Za-z0-9-_]+)/?$  /unknown.php?$1   [NC,L]
 RewriteRule ^(?:[A-Za-z0-9-_]+)/(?:[A-Za-z0-9-_]+)/(?:[A-Za-z0-9-_]+)/([A-Za-z0-9-_]+)/?$  /unknown.php?$1   [NC,L]
 RewriteRule ^(?:[A-Za-z0-9-_]+)/(?:[A-Za-z0-9-_]+)/([A-Za-z0-9-_]+)/?$  /unknown.php?$1   [NC,L]
 RewriteRule ^(?:[A-Za-z0-9-_]+)/([A-Za-z0-9-_]+)/?$  /unknown.php?$1   [NC,L]
 RewriteRule ^([A-Za-z0-9-_]+)/?$  /custompage.php?pagename=$1   [NC,L]


</IfModule>

DirectoryIndex index.php index.html index.htm
<FilesMatch "\.(htm|html|css|js)$">
AddDefaultCharset UTF-8
</FilesMatch>
