/* Flexnav Base Styles */
.flexnav {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-transform-style: preserve-3d;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  max-height: 0; }
  .flexnav.opacity {
    opacity: 0; }
  .flexnav.flexnav-show {
    max-height: 2000px;
    opacity: 1;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out; }
  .flexnav.one-page {
    position: fixed;
    top: 25px;
    right: 5%;
    max-width: 200px; }
  .flexnav li {
    font-size: 100%;
    position: relative;
    overflow: hidden; 
	border-right: 1px solid #485056;
	}

  .flexnav > li:last-child {
	border-right: 1px solid #485056;
	}
	
  .flexnav > li:first-child {
	border-left: 1px solid #485056;
	}
	
  .flexnav li a {
    position: relative;
    display: block;
    padding: .25em;
    z-index: 2;
    overflow: hidden;
    color: #fff;
    /*background: #24282B; submenu color */
    border-bottom: 1px solid rgba(0, 0, 0, 0.15); }

  .flexnav li span {
    position: relative;
    display: block;
    padding: .25em;
    z-index: 2;
    overflow: hidden;

}
	
  .flexnav li ul {
    width: 100%; 
	margin:0;
    background: rgba(242, 242, 242, 1);/* submenu color */
    border: 1px solid #485056;
	}
  .flexnav li ul a{
	color:#000000;
	}
    .flexnav li ul li {
      font-size: 100%;
      position: relative;
      overflow: hidden; 
	  margin:0;
	  text-align:left;
}
    .flexnav li ul li span{
      font-size: 140%;
	  margin-left:6%;
}

  .flexnav li ul.flexnav-show li {
    overflow: visible; 
    z-index:1000;}
  .flexnav li ul li a {
    display: block;
    /* background: #24282B; submenu color */
	padding-left:12%;
}
  .flexnav ul li ul li a {
   /* background: #24282B;  submenu color */
	padding-left:12%;}
  .flexnav ul li ul li ul li a {
    /* background: #24282B; submenu color */
	padding-left:12%;}
  .flexnav .touch-button {
    position: absolute;
    z-index: 999;
    top: 0;
    right: 0;
    width: 15px;
    height: 20px;
    display: inline-block;
    background: #acaca1;
    background: rgba(0, 0, 0, 0.075);
    text-align: center; }
    .flexnav .touch-button:hover {
      cursor: pointer; }
    .flexnav .touch-button .navicon {
      position: relative;
      top: 2px;
      font-size: 12px;
      color: transparent; }

.menu-button {
 position:fixed;
  display: block;
  padding: .75em;
  background: #fff;
  color: #000;
  cursor: pointer;
 width:10%;
 z-index:1102; }
  
  .menu-button:after {
  padding-left:85%;
   content: "☰";
  }
  .menu-button.one-page {
    position: fixed;
    top: 0;
    right: 5%;
    padding-right: 45px; }
  .menu-button .touch-button {
    background: transparent;
    position: absolute;
    z-index: 999;
    top: 0;
    right: 0;
    width: 20%;
    height: 25px;
    display: inline-block;
    text-align: center; }
    .menu-button .touch-button .navicon {
      font-size: 16px;
      position: relative;
      top: 1em;
      color: #666; 
	  display:none;}

	@media all and (min-width: 800px) and (max-width: 950px) {
  .flexnav li ul {
    width: 133%; 
	margin:0;
	}

	}

	  
	@media all and (max-width: 799px) {
  .flexnav li ,.flexnav li a, .flexnav li ul li a{
  color:#000;
  background:white;
	  
}
  .flexnav li {
	margin:0;	
	color:#8A8A8A;	}
	
	  .flexnav .touch-button {
    width: 20%;
    height:100%;
     }
	   .flexnav .touch-button .navicon {
    top: 0;

     }

	
}
@media all and (min-width: 800px) {
  body.one-page {
    padding-top: 70px; }

  .flexnav {
    overflow: visible; 
	}
    .flexnav.opacity {
      opacity: 1; }
    .flexnav.one-page {
      top: 0;
      right: auto;
      max-width: 1080px; }
    .flexnav > li {
      position: relative;
      list-style: none;
      float: left;
      display: block;
      background-color: #24282B; /* Main Nav Color */
      overflow: visible;
	  text-align:center;
      }
    .flexnav > li:nth-child(1) {	width: 25%;}
    .flexnav > li:nth-child(2) {	width: 22%;}
    .flexnav > li:nth-child(3) {	width: 15%;}
    .flexnav > li:nth-child(4) {	width: 13%;}
    .flexnav > li:nth-child(5) {	width: 14%;}
    .flexnav > li:nth-child(6) {	width: 10%;}
	
    .flexnav li a {
      border-left: 0px solid #acaca1;
      border-bottom: none; }
	  
    .flexnav li ul a:hover { background:#f66d26;}
    .flexnav li > ul {
      position: absolute;
      top: auto;
      left: 0; 
	  padding-top:10px;
	  }
      .flexnav li > ul li {
        width: 100%; 
		color:#A5A5A5;
		}
    .flexnav li ul li > ul {
      margin-left: 100%;
      top: 0; }
    .flexnav li ul li a {
      border-bottom: none; }
    .flexnav li ul.open {
      display: block;
      opacity: 1;
      visibility: visible;
      z-index: 1; }
      .flexnav li ul.open li {
        overflow: visible;
       }
      .flexnav li ul.open ul.open {
        margin-left: 100%;
        top: 0; }

  .menu-button {
    display: none; } }
.oldie body.one-page {
  padding-top: 70px; }
.oldie .flexnav {
  overflow: visible; }
  .oldie .flexnav.one-page {
    top: 0;
    right: auto;
    max-width: 1080px; }
  .oldie .flexnav li {
    position: relative;
    list-style: none;
    float: left;
    display: block;
    background-color: #24282B;
    width: 20%;
    min-height: 25px;
    overflow: visible; }
  .oldie .flexnav li:hover > ul {
    display: block;
    width: 100%;
    overflow: visible; }
    .oldie .flexnav li:hover > ul li {
      width: 100%;
      float: none; }
  .oldie .flexnav li a {
    border-left: 1px solid #acaca1;
    border-bottom: none;
    overflow: visible; }
  .oldie .flexnav li > ul {
    background: #24282B;
    position: absolute;
    top: auto;
    left: 0;
    display: none;
    z-index: 1;
    overflow: visible; }
  .oldie .flexnav li ul li ul {
    top: 0; }
  .oldie .flexnav li ul li a {
    border-bottom: none; }
  .oldie .flexnav li ul.open {
    display: block;
    width: 100%;
    overflow: visible; }
    .oldie .flexnav li ul.open li {
      width: 100%; }
    .oldie .flexnav li ul.open ul.open {
      margin-left: 100%;
      top: 0;
      display: block;
      width: 100%;
      overflow: visible; }
  .oldie .flexnav ul li:hover ul {
    margin-left: 100%;
    top: 0; }
.oldie .menu-button {
  display: none; }
.oldie.ie7 .flexnav li {
  width: 19.9%; }
  
  .sm-screen{
  }